  
        <!-- Navigation Bar Star -->
        <div class="sidebar" data-color="azure" data-background-color="azure" data-image="">
        
            <div class="logo">
                <a href="/" class="simple-text logo-normal">
                <img src="/././img/ATNLogo.jpg" width="70%"  >
                </a>
            </div>

            <div class="sidebar-wrapper"  >
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">
                        <i class="material-icons">dashboard</i>
                        <p>Product Management</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        <i class="material-icons">content_paste</i>
                        <p>Category Management</p>
                        </a>
                    </li>
            
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        <i class="material-icons">person</i>                      
                        <p>User Management</p>
                        </a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        <i class="material-icons">library_books</i>
                        <p>Transaction Management</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        <i class="material-icons">mail</i>
                        <p>Feedback Management</p>
                        </a>
                    </li>
                </ul>
            </div>          
        </div>
        <!-- Navigation Bar End -->

    
